html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #000000;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
    background-repeat: no-repeat;
    background-size: 100% auto;
}

img {
    width: 980px;
}

.spinner {
    height: 178px;
    vertical-align: bottom;
    text-align: center;
    position: relative;
}

i.fa-spinner {
    font-size: 60px;
    position: absolute;
    bottom: 40px;
    left: 50%;
}

.container {

}

.content {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title {
    font-size: 96px;
    margin-bottom: 40px;
}

.quote {
    font-size: 24px;
}

.showButton {
    background: rgba(255, 40, 35, 0.5);
}

area {
    background-color: #ac2925;
    opacity: 0.5;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: #182b55;
}

.shadow {
    -webkit-box-shadow: 0 7px 7px -1px rgba(0,0,0,0.5);
    -moz-box-shadow:    0 7px 7px -1px rgba(0,0,0,0.5);
    box-shadow:         0 7px 7px -1px rgba(0,0,0,0.5);
}

.background {
    width: 100%;
}

.img-top-bar {
    width: 100%;
}

.hiddenLink {
    position: absolute;
    z-index: 3;
}

.badge {
    position: absolute;
    top:-5px;
    padding: 9px 23px;
    border-radius:100px;
    background: #fc0102;
    font:bold 2.5em "Helvetica Neue", sans-serif;
    color: white;
    text-decoration: none;
    opacity: 1 !important;
}

#ex1Slider {
    left: 270px;
    width: 440px;
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
}

#ex1Slider .slider-selection
{
    background: #3276b1;
}

.slider-handle.custom {
    background: transparent none;
}

.slider-handle.custom::before {
    line-height: 25px;
    font-size: 25px;
    content: '\1F541';
    color: #6c6c6c;
    background-color: #6c6c6c;
    border: 1px;
    border-color: white;
}
